
<div class="hero inner-page" style="background-image: url('{{asset('images/MarquesModeles.webp')}}');">
  
  <div class="container">
    <div class="row align-items-end ">
      <div class="col-lg-5">

        <div class="intro">
          <h1><strong>Marques/Modeles</strong></h1>
          <div class="custom-breadcrumbs"><a href="{{path('Acceuil')}}">Acceuil</a> <span class="mx-2">/</span> <strong>Marques/Modeles</strong></div>
        </div>

      </div>
    </div>
  </div>
</div>
