<div class="site-section bg-primary py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-4 mb-md-0">
          <h2 class="mb-0 text-white">N'hesitez pas à nous ecrire</h2>
          <p class="mb-0 opa-7"></p>
        </div>
        <div class="col-lg-5 text-md-right">
          <a href="mailto:majoiefaya96@gmail.com?subject=Project&body=Salut,j'espere que vous allez bien?.Je suis interessé par une de vos voitures." class="btn btn-primary btn-white">Envoyer un Mail</a>
        </div>
      </div>
    </div>
  </div>