<div class="site-section">
    <div class="container">
      <h2 class="section-heading"><strong>Comment ca marche?</strong></h2>
      <p class="mb-5">Voici Les Etapes a Suivre pour Commencer</p>    

      <div class="row mb-5">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="step">
            <span>1</span>
            <div class="step-inner">
              <span class="number text-primary">01.</span>
              <h3>Créez un Compte et Connectez vous</h3>
              <p>Inscrivez Vous sur Notre site et Connectez-Vous</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="step">
            <span>2</span>
            <div class="step-inner">
              <span class="number text-primary">02.</span>
              <h3>Choisissez et Reserver Une Voiture</h3>
              <p>Consultez nos Voitures sur Notre Page Voitures et Effectuez Une Reservation</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="step">
            <span>3</span>
            <div class="step-inner">
              <span class="number text-primary">03.</span>
              <h3>Effectuez Le Payement</h3>
              <p>Recevez la Réponse de Nos Responsables et Effectuez Le Payement</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="site-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 text-center order-lg-2">
          <div class="img-wrap-1 mb-5">
            <img src="{{asset('images/feature_01.png')}}" alt="Image" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-4 ml-auto order-lg-1">
          <h3 class="mb-4 section-heading"><strong>Consultez La Liste de Nos Voitures</strong></h3>
          <p class="mb-5">Pour Retrouver la Voiture de vos reves</p>
          
          <p><a href="voiture" class="btn btn-primary">Consultez</a></p>
        </div>
      </div>
    </div>
  </div>